@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #AAAAAA;
}

#page {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	max-width: 100%;
	max-height: 100%;
	width: 100vw;
	height: 100vh;
}

#header {
	display: flex;
	flex-flow: row;
	background-color: #AAAAAA;
	justify-content: flex-start;
	align-items: baseline; border-bottom : 1px solid black;
	padding: 20px;
	border-bottom: 1px solid black;
}

#header #headerLeft {
	
}

#header a {
	margin-right: 5px;
	vertical-align: bottom;
}

#header img {
	max-height: 100px;
	width: auto;
}

#header div:last-child {
	margin-left: auto;
}

#header #headerRight {
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;
}

#content {
	display: flex;
	flex-flow: row wrap;
	align-self: center;
	justify-content: center;
	height: 100%;
	width: 75%;
	background-color: #EEEEEE;
}

#newUserContent {
	display: flex;
	flex-flow: column wrap;
	margin-right: 50px;
}

#newUserContent button {
	margin-top: 10px;
}

#newFencerContent {
	display: flex;
	flex-flow: column wrap;
	margin-left: 50px;
}

#newFencerContent button {
	margin-top: 10px;
}